<div *ngIf="!loading">
  <form>
    <input [(ngModel)]="artist.name" type="text" name="name" placeholder="Name" />
    <br />
    <select [(ngModel)]="artist.genreID" name="genre">
      <option *ngFor="let genre of genres" [ngValue]="genre.genreID">{{genre.name}}</option>
    </select>
    <br />
    <button (click)="addOrUpdateArtist()" type="submit">
      <span *ngIf="adding">Add</span>
      <span *ngIf="!adding">Update</span>
    </button>
  </form>
</div>
<br />
<div *ngIf="loading" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>

<a [routerLink]="['../../artists']">Go back</a>
